//
// SCROLL BOXES
// Creates a scrollable div
//
// --------------------------------------------------

.scroll {
  border: 1px solid $border-color;
  max-height: 320px;
  overflow-y: scroll;
  padding: 15px;
}

.scroll::-webkit-scrollbar {
    width: 1em;
}

.scroll::-webkit-scrollbar-track {
    background: $porcelain;
    border-left: $border-color;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: $dark-navy;
  outline: 1px solid $border-color;
}