//------------------------------------------------------------------------
// Spacing between Components
//------------------------------------------------------------------------

// Added temporary spacing between components for demo purposes
// NOTE: Use :where() to keep specificity low so we can more
//       easily override margins at the component level.

// Layout builder blocks
:where(.layout__region--content .block) {
  margin-bottom: rem(20px);
  margin-top: rem(20px);
}

// Homepage hero wrapper
.block--type-hero {
  margin-bottom: 0;
  margin-top: 0;
}

// Custom Block: Component Block - Component paragraph field
.field--name-field-text,
// Node: Content paragraph field
.field--name-field-content {
  & > .field__item {
    margin-bottom: rem(20px);
    margin-top: rem(20px);
  }
}
