

// Container
.smart-search-container{
  $bg-color: usa.color('blue-5');
  $hover-color: usa.color('blue-10');

  position: relative!important;
  top: 0px !important;
  padding: 0 !important;
  border: none !important;
  margin: 0 !important;
  height: 0 !important;
  & > div {
    position: absolute !important;
    display: none;
    z-index: 1000 !important;
    // background-color: #eff5f9;
    background-color: $bg-color;
    @include card-box-shadow;
    border-radius: 5px;
    padding: 35px 46px;
  }

  // Headings
  .smart-search-EDGAR,
  .smart-search-SEC-gov,
  .smart-search-resources {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    display: inline-block;
  }

  .smart-search-EDGAR,
  .smart-search-SEC-gov {
    margin-right: 5px;
  }

  a {
    color: $c-default;
    text-decoration: none;
    &:hover {
      color: $c-default;
    }
  }

  // line in between sections
  .smart-search-edgar-full-text {
    border-bottom: 1px solid #d1d1d1;
    display: block;
    padding-bottom: 20px;
  }

  // table
  table.smart-search-entity-hints {
    font-size: 15px;
    margin-right: -10px;
    margin-left: -10px;
    td {
      padding: 6px 10px;
    }
  }

  // "Search for" Links
  .smart-search-edgar-full-text,
  .smart-search-sec-gov-website {
    color: $link-color;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      // background-color: $hover-color;
      text-decoration: underline;
      color: $link-color-hover;
      &::before {
        background-color: $link-color-hover;
      }
    }

    &::before {
      content: "";
      width: 20px;
      height: 20px;
      display: inline-block;
      background-color: $link-color;
      mask-image: url(/themes/custom/uswds_sec/assets/img/usa-icons/search.svg);
      position: relative;
      top: 4px;
      margin-right: 10px;
    }
  }

  .smart-search-search-text {
    font-weight: bold;
  }

  // hover/active states
  tr.smart-search-hint {
    &:hover {
      background-color: $hover-color;
      text-decoration: underline;
    }
  }

  div.smart-search-entity-hints .smart-search-selected-hint,
  div.smart-search-entity-hints .smart-search-selected-hint td {
    background-color: $hover-color;
    text-decoration: underline;
  }
}

@media (max-width: 767px) {
  table.smart-search-entity-hints tr.smart-search-hint td.smart-search-hint-cik {
      display:none;
  }
}