//------------------------------------------------------------------------
// Default page title block
//
// See /templates/patterns/page_header/ for landing page title block
//------------------------------------------------------------------------
// Note: We want the text to align with the main column in desktop layout
.page-title {
  @include min-width($layout-rightrail-bp) {
    margin-bottom: rem(28px);
  }

  &__heading {
    @include page-title;
    margin-bottom: 0;
    margin-top: 0;
  }

  &__above-title {
    display: flex;
    margin-bottom: rem(21px);
    align-items: center;
    justify-content: flex-end;
  }

  &___page-category {
    flex-grow: 1;
    text-transform: uppercase;
    font-family: $gotham-font-family;
    font-weight: $gotham-medium;
    color: $c-default;

    a {
      color: $c-default;
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
      }
    }
  }

  &__buttons {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;

    > * {
      margin-left: rem(10px);

      @include min-width(640px) {
        margin-left: rem(17px);
      }
    }
  }
}
