//------------------------------------------------------------------------
// Layout Builder Cleanup
//------------------------------------------------------------------------

// CSS for Add Link modal in Layout Builder
.node--type-landing-page #drupal-modal {
  overflow: visible;

  .form-item__description {
    margin-top: 0.4rem;
  }
}

// CSS for right rail
#drupal-off-canvas {
  // CSS for right rail when adding a block
  .inline-block-list {
    a {
      border-bottom: rem(1px) solid $bg-gray-layout-builder;
      padding: rem(15px 0 15px 21px);
    }

    li {
      padding: 0;
      border: none;
      &:last-child {
        margin-bottom: 1rem;
      }
    }
  }
  
  .block-categories {
    ul li,
    ol li {
      padding: 0;
      border: 0;

      a {
        display: block;
        padding: rem(1px 1.5rem);
        font-size: 0.8em;
      }
    }
  
    button, .button {
      width: 100%;
      padding: rem(10px 25px);
      font-size: rem(14px);
      margin-bottom: 0;

      &[aria-expanded="true"] {
        background: $bg-gray-layout-builder;
      }

      &:hover, &:focus {
        transition: all 0.5s ease;
        background: $bg-gray-dark-layout-builder;
        text-decoration: underline;
      }
    }
  }

  // CSS for right rail when adding a section
  .item-list {
    margin-left: rem(-20px);
    margin-right: rem(-20px);

    li {
      padding-left: 2rem;
      padding-bottom: 0.5rem;
      &:hover {
        transition: all 0.5s ease;
        background: $bg-gray-dark-layout-builder;
      }
      &:last-child {
        padding-bottom: 0.5rem;
      }
    }
  }

  .js-layout-builder-categories {
    margin: 0px -24px;

    .usa-accordion__content {
      background: $bg-gray-light-layout-builder;
      padding: 0;
      border: none;
  
      .links li:last-child a {
        padding-bottom: 0.4rem;
      }
    }
  }
}

// CSS for layout builder
.layout-builder-form {
  [data-drupal-messages] {
    left: 0; 
    margin-left: 0;
    margin-right: 0;
    position: relative;
    right: 0;
    padding-top: 1rem;
  }

  .required-help {
    color: $c-red;
  }
}

#layout-builder-modal {
  // CSS for the modal window
  // Note that the !important tags are needed to override uswds theme
  .ui-menu {
    .ui-state-focus,
    .ui-state-active {
      margin: 0;
    }
  }

  .layout-builder-configure-block {
    [data-drupal-messages] {
      width: 100%;
      margin: 0 auto;
      left: 0;
    }


    .usa- {
      &form-group {
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
      }

      &alert {
        margin: 1rem auto;
      }

      &select {
        margin-bottom: 0.5rem;
      }
    
      &checkbox__label {
        margin-bottom: 0.3rem;
      }
    
      &label {
        font-weight: bold;
        display: inline-block;
        margin-top: 0.5rem !important;
      }:first-child {
        margin-top: 0.1rem;
      }
    }

    // button {
    //   border: 0;
    //   border-radius: 0.25rem;
    //   display: inline-block;
    //   font-weight: 700;
    //   margin-right: 0.5rem;
    //   padding: 0.75rem 1.25rem;
    //   text-align: center;
    //   text-decoration: none;
    // }

    // CSS for Release Topper Modal
    .field-multiple-table {
      .field-multiple-drag {
        min-width: rem(40px);
        padding: 0;

        .tabledrag-handle {
          margin-left: 0;
          .handle {
            margin-left: rem(6px) !important;
            margin-top: rem(-4px);
            padding: 0.42em 0.25em;
            &:hover {
              transform: none;
            }
          }
        }
      }
      .tabledrag-hide {
        width: rem(122px);
        padding: rem(0 10px);
      }
    }

    .paragraphs-tabs-wrapper {
      .paragraph-type-label, label {
        padding-left: rem(10px);
      }

      .usa-checkbox {
        padding-left: 0.8rem;

        label {
          padding-left: 2rem;
        }
      }
      
      // input,
      // select,
      // .usa-hint {
      //   margin-left: rem(11px);
      //   width: 100%;
      // }

      .paragraphs-dropdown-toggle {
        min-width: 2.7rem;
        min-height: rem(39px);
        margin-top: rem(5px);
      }
    
      .draggable {
        .field-multiple-drag {
          width: rem(30px);
          
          .handle {
            margin-left: rem(5px) !important;
            margin-top: rem(-4px);
          }
        }
      }

      .delta-order {
        padding-left: rem(10px);

        select {
          margin-left: 0;
        }
      }

      // [data-drupal-selector="edit-settings-block-form-field-text-add-more"],
      

      .messages--warning {
        padding-left: 0.5rem;
        font-size: 1rem;
        padding-top: 0.5rem;
        color: $c-red;
      }
    }

    // ellipsis dropdown actions (duplicate and remove)
    .paragraphs-dropdown-actions {
      padding: 0 1rem 0.5rem;

      input {
        border-radius: 0.25rem;
        background: $button-blue-dark;
        margin-top: rem(10px) !important;
        margin-bottom: 0 !important;
        margin-left: 0;
        &:hover {
          background-color: $button-blue-darker;
        }
      }:focus {
        outline: 0.25rem solid $element-focus;
        outline-offset: 0;
      }
    }

    // input {
    //   margin-top: 0.5rem !important;
    //   margin-bottom: 0.5rem !important;
    // }

    // .form-submit {
    //   margin-top: 0.75rem !important;
    // }

    .tabledrag-toggle-weight-wrapper {
      margin-bottom: 1rem;
    }

    .required-help {
      color: $c-red;
    }

    .layout-builder-component-helptext {
      display: block !important;
      width: max-content !important;
      margin-top: -0.4rem;
      margin-bottom: 0.3rem;
    }

    .js-filter-wrapper {
      width: 40rem;
      margin-top: -0.5rem;
      margin-bottom: 1rem;
    }
  }

  .ui-autocomplete {
    .ui-menu-item {
      width: 100%;
      display: block;
      
      .ui-menu-item-wrapper {
        display: block;
        padding: 0 0.4rem;
        width: 100%;
      }
      
      .ui-state-active {
        border: none;
        width: 100%;
      }
    }
  }
}

// Override layout-builder-customizer module so that buttons in the content do not disappear on hover
#layout-builder .layout-builder-customizer--links button {
  display: initial;
}

#layout-builder .layout-builder-customizer--links .contextual-links button {
  display: none;
}

#layout-builder .layout-builder-customizer--links button.trigger {
  display: none;
}