//
// Styles
// These are all the includes for the pages on screens
// --------------------------------------------------

// Requirements
// ============

// General
@import "general/normalize";
@import "general/vars";
@import "general/mixins";
@import "general/fonts";
@import "general/grid";
@import "general/helpers";
@import "general/general";
@import "general/container";

// Layouts

// Components
@import "components/lists";
@import "components/page-title";
@import "components/breadcrumbs";
@import "components/panels";
@import "components/icons";
@import "components/forms";
@import "components/table";
@import "components/pager";
@import "partials/sidebars"; // TODO: IMPORTANT: Needs to be moved down into partials... but need to check on specificity first
@import "components/image-styles";
@import "components/paragraph-comma_seperated";
@import "components/card";
@import "components/exposed-forms";
@import "components/pullquotes";
@import "components/messages";
@import "components/more-link";
@import "components/tabs";
@import "components/hr-special";
@import "components/admin-toolbar";
@import "components/alerts";
@import "components/stylized-boxes";
@import "components/buttons";
@import "components/card_btn";
@import "components/accordion";
@import "components/scroll_box";
@import "components/flex-video-responsive";

@import "components/view_class_article-list";
@import "components/view_class_featured-view";
@import "components/oasb_wizard_tool";

// Blocks
@import "blocks/foia-left-column";

// Partials
@import "partials/header";
@import "partials/global-navigation";
@import "partials/footer";

// Views
@import "views/views_all";
@import "views/view_upcoming-events";
@import "views/view_bad-actor";
@import "views/view_academic-publications-list-page";
@import "views/view_data-list-page";
@import "views/view_dera-data-library";
@import "views/view_forms-list-page";
@import "views/view_market-structure-datalist-page";
@import "views/view_sec-videos";
@import "views/view_investor_alerts_bulletins";
@import "views/view_fast-answers-list";
@import "views/view_staff-papers-list";
@import "views/view_im-announcements";
@import "views/view_testimony-list-page";
@import "views/view_ocr-news-list";
// @import 'views/view_oig-audit-reports'; // Feature currently disabled
// @import 'views/view_oig-recent-reports'; // Feature currently disabled
@import "views/view_reports-and-publications";
@import "views/view_structured-disclosure-list";
@import "views/views_newsroom-pages";
@import "views/view_ocie-list";
@import "views/view_webcast-list-page";
@import "views/view_market-statistics";
@import "views/view_market-statistics-data-highlights";
@import "views/view_topical-reference-guide-list";
@import "views/view_public-alerts-list";
@import "views/view_release";
@import "views/_view_rulemaking-index";
@import "views/_view_regulation";
@import "views/_view_exemptive_order";
@import "views/_view_investment_company_act_notice_order";

// Pages
@import "pages/full-width";
@import "pages/nodes_all";
@import "pages/node_webforms";
@import "pages/node_article--and--news";
@import "pages/node_event";
@import "pages/node_secperson";
@import "pages/node_landing-page";
@import "pages/node_video";
@import "pages/user";
@import "pages/homepage";
@import "pages/error-pages";
@import "pages/landing_page-ocr";
@import "pages/landing_page-newsroom";
@import "pages/landing_page-upcoming-events";
@import "pages/node_release";
@import "pages/node_regulation";
@import "pages/node_rule";

// Emergency CSS

// Review
// TODO:  IMPORTANT: These last few files need to be cleaned before moving them up with the others or deleting
@import "custom";
@import "components/blocks";
@import "adhoc";
