.form-item-files-file-upload {
  margin-top: 1rem;
  border-top: 1px solid #e6e4df;
  padding-top: 1rem;
}

.update-info-text {
  margin: 0;
  font-size: .95em;
}

.form-item-send-email {
  margin: 1rem 0 !important;
}
