//------------------------------------------------------------------------
// Custom button styles and overrides
// https://designsystem.digital.gov/components/button/
//------------------------------------------------------------------------
@use "uswds-settings" as usa;
@use "../../../assets/sass/functions/rem" as *;
@use "../../../assets/sass/mixins/button-mixins" as *;
@use "../../../assets/sass/mixins/font-smoothing" as *;
@use "../../../assets/sass/vars/color-vars" as *;
@use "../../../assets/sass/vars/font-vars" as *;

// Note: We’re reapplying the background and text colors using CSS vars
//       so we can easily change them on dark backgrounds.
.usa-button {
  @include usa-button;

  &--big {
    font-size: rem(16px);
    text-transform: none;
  }

  // The small button is only intended for use in the Drupal admin
  // Note: The button uses input[type="submit"] in the admin
  &--small {
    &,
    // Add “ui-widget” class to override jQuery UI input styles
    .ui-widget & {
      font-size: rem(13px);
      letter-spacing: 0.3px;
      padding: rem(7px 10px);
    }
  }

  // SEC secondary button uses different colors than USWDS default
  &--secondary {
    background-color: var(--theme-button-bg-color, $button-teal-dark);

    &:hover,
    &:focus,
    &:active,
    &.usa-button--hover,
    &.usa-button--focus,
    &.usa-button--active {
      background-color: var(--theme-button-hover-bg-color, $button-teal-darker);
    }
  }

  // SEC base button uses a different colors than USWDS default
  &--base {
    --theme-button-bg-color: #{$button-gray-lighter};
    --theme-button-color: #{$c-black};
    --theme-button-hover-bg-color: #{$button-gray-med-light};
  }

  // Use CSS vars for outline button colors to auto-adjust on dark backgrounds
  // Note: USWDS uses inset box-shadow for the outline
  &--outline {
    @include undo-font-smoothing;
    background-color: transparent !important;// override usa-button--hover/focus/active classes
    box-shadow: inset 0 0 0 2px currentColor !important;// override default USWDS style

    &,
    &:visited {
      color: var(--theme-outline-button-color, $button-blue-dark);
    }

    &:hover,
    &:focus,
    &:active,
    &.usa-button--hover,
    &.usa-button--focus,
    &.usa-button--active {
      color: var(--theme-outline-button-color, $button-blue-darker) !important;
    }

    &.usa-button--disabled {
      background-color: $button-gray !important ;
      box-shadow: none !important;
      color: #fff !important;
    }
  }

  // Same as USWDS default
  // &--big {}

  &--unstyled {
    background-color: transparent !important;
    color: var(--theme-text-color, $c-blue) !important;
    text-transform: initial;

    &.usa-button--disabled {
      --theme-text-color: #{$button-gray};
    }
  }
}
