//------------------------------------------------------------------------
// Custom button styles and overrides
// https://designsystem.digital.gov/components/button/
//------------------------------------------------------------------------
@use "uswds-settings" as usa;
@use "../../../assets/sass/functions/rem" as *;
@use "../../../assets/sass/mixins/font-smoothing" as *;
@use "../../../assets/sass/vars/color-vars" as *;
@use "../../../assets/sass/vars/font-vars" as *;

// Note: We’re reapplying the background and text colors using CSS vars
//       so we can easily change them on dark backgrounds.
.usa-button {
  @include font-smoothing;// improves legibility for light text on dark bg
  background-color: var(--theme-button-bg-color, $button-blue-dark);
  border-radius: usa.radius(usa.$theme-button-border-radius);
  font-family: $gotham-font-family;
  font-size: rem(14px);
  line-height: 1.15;
  margin-right: 0;// override USWDS default
  text-transform: uppercase;
  transition: background-color 180ms ease, color 180ms ease;

  &,
  &:visited {
    color: var(--theme-button-color, #fff);
  }

  // Note: Include .usa-button--hover/focus/active classes for the component library
  &:hover,
  &:focus,
  &:active,
  &.usa-button--hover,
  &.usa-button--focus,
  &.usa-button--active {
    background-color: var(--theme-button-hover-bg-color, $button-blue-darker);
    color: var(--theme-button-color, #fff);
  }

  &:disabled,
  &[aria-disabled=true],
  &--disabled {
    background-color: $button-gray !important ;
    color: #fff !important;
    cursor: not-allowed;

    .usa-icon {
      fill: currentColor;
    }
  }

  // Automatically add external link icon
  // Note: Use :where() to keep specificity low
  &:where([href^="http"]):where(:not([href*="lndo.site"], [href*="//localhost"], [href*="sec.gov"])) {
    @include usa.external-link();
    padding-right: 1.25rem;// default usa-button value

    &:after {
      margin-left: 0.5ex;// ex equals font x-height
      margin-top: 0;// override usa.external-link()
      position: relative !important;// override usa.external-link()
      top: rem(-1px);// visually center
      vertical-align: middle;
    }
  }

  &--big {
    font-size: rem(16px);
    text-transform: none;
  }

  // SEC secondary button uses different colors than USWDS default
  &--secondary {
    background-color: var(--theme-button-bg-color, $button-teal-dark);

    &:hover,
    &:focus,
    &:active,
    &.usa-button--hover,
    &.usa-button--focus,
    &.usa-button--active {
      background-color: var(--theme-button-hover-bg-color, $button-teal-darker);
    }
  }

  // SEC base button uses a different colors than USWDS default
  &--base {
    --theme-button-bg-color: #{$button-gray-lighter};
    --theme-button-color: #{$c-black};
    --theme-button-hover-bg-color: #{$button-gray-med-light};
  }

  // Use CSS vars for outline button colors to auto-adjust on dark backgrounds
  // Note: USWDS uses inset box-shadow for the outline
  &--outline {
    @include undo-font-smoothing;
    background-color: transparent !important;// override usa-button--hover/focus/active classes
    box-shadow: inset 0 0 0 2px currentColor !important;// override default USWDS style

    &,
    &:visited {
      color: var(--theme-outline-button-color, $button-blue-dark);
    }

    &:hover,
    &:focus,
    &:active,
    &.usa-button--hover,
    &.usa-button--focus,
    &.usa-button--active {
      color: var(--theme-outline-button-color, $button-blue-darker) !important;
    }

    &.usa-button--disabled {
      background-color: $button-gray !important ;
      box-shadow: none !important;
      color: #fff !important;
    }
  }

  // Same as USWDS default
  // &--big {}

  &--unstyled {
    background-color: transparent !important;
    color: var(--theme-text-color, $c-blue) !important;
    text-transform: initial;

    &.usa-button--disabled {
      --theme-text-color: #{$button-gray};
    }
  }
}
