// Regularizing forms throughout Drupal

// Form
.usa-form,
.usa-form-group,
.usa-table {
  @include usa.at-media("mobile-lg") {
    max-width: usa.units("tablet");
  }
  // Adds asterisk to required fields
  .form-required::after {
    display: inline-block;
    margin-right: 0.15em;
    margin-left: 0.15em;
    content: "*";
    color: $bg-red;
    font-size: 1rem;
  }
  // Adds padding to the password suggestions
  .password-suggestions ul {
    padding-left: 1.2rem;
  }
}

// Fieldsets and other grouped fields
.usa-form-group.form-item-files-file,
.usa-form-group.form-item-usa-managed-file,
.usa-form-group.js-form-type-managed-file,
.usa-fieldset,
.field--widget-entity-reference-autocomplete {
  border: 1px solid usa.color('base-lighter');
  padding: usa.units(2);
}

.usa-fieldset {
  margin-top: usa.units(3);
}

// Inline containers
.container-inline {
  div,
  label {
    display: inline-block;
  }

  .usa-form-group {
    margin-top: 0px;
  }
}

// Ckeditor
.form-textarea-wrapper .cke{
  margin-top: usa.units(1);
}

// Radio Buttons and checkboxes
.usa-radio {
  background: transparent;
}

.usa-fieldset .form-radios > .usa-radio:first-child > label,
.usa-fieldset .form-checkboxes > .usa-checkbox:first-child > label {
  margin-top: 0;
}

.form-radios + .usa-hint,
.form-checkboxes + .usa-hint,
.usa-radios .usa-hint,
.usa-checkbox .usa-hint {
  margin-top: usa.units(1);
}

// Date/Date time
.form-datetime-wrapper h2 {
  margin-bottom: 0;
}

// Form accordion aka details
.usa-form {
  .usa-accordion {
    margin-top: usa.units(3);
  }
  .usa-accordion + .usa-accordion {
    margin-top: 0;
  }
}

.usa-accordion .usa-accordion {
  list-style: none;
}

.usa-accordion__content {
   > div,
   > fieldset {
    &:first-of-type {
      margin-top: 0;
      > .usa-form-group:first-child,
      > .usa-checkbox:first-of-type .usa-label,
      > .usa-radio:first-of-type .usa-label {
        margin-top: 0;
      }
    }
  }
}

.usa-accordion--bordered .usa-accordion__content {
  max-width: 100%;
}

// Form Tables
.field-multiple-table {
  td > .usa-form-group {
    margin: 0;
  }
  width: 100%;
}

.paragraphs-subform > .usa-accordion {
  padding-right: 30px;
}

// autocomplete fields
.js input.form-autocomplete {
  background-position: right 7px center;
}

.tabledrag-toggle-weight-wrapper {
  float: right;
}
.tabledrag-toggle-weight {
  @include usa-button;
}

.field--widget-entity-reference-autocomplete {
  margin-top: usa.units(3);
  .usa-table {
    margin: 0;
  }
}

// inline form
.form--inline {
  display: inline-flex;
  gap: 7px;
  margin-top: usa.units(2);
  flex-wrap: wrap;

  .usa-form-group {
    margin-top: 0;
  }

  .form-actions {
    align-self: end;
  }
}

// Views Exposed forms
.views-exposed-form {
  width: 100%;
}

// Dropdown button  

.js .dropbutton-multiple {
  // Todo - Apply hover background cover - it's transparent for now to prevent the right 
  // border from disappearing on hover for the multi field drop down
  $button-hover-color: transparent;
  margin-bottom: 1rem;

  &.open {
    .dropbutton-action {
      &:last-child, &:first-child {
        a, button, input, .button {
          border-radius: 0;
        }
      }
    }
  }

  .dropbutton-toggle {
    button {
      display: block;
    }:hover {
      background: unset;
    }:focus {
      background: unset;
      outline: 0.25rem solid $element-focus;
      outline-offset: 0;
    }
  }

  .dropbutton-wrapper {
    cursor: pointer;
    width: rem(18rem);
  }

  ul {
    border-right: rem(1px) solid $border-gray-modal;
    margin-right: rem(4px);
  }

  input {
    width: 14.6rem;
  }

  .dropbutton-widget {
    border-radius: 0;
    background-color: transparent;
    background-image: none;
    position: relative;
    margin: 0.5rem 0;

    li {
      input {
        margin-left: 0.5rem;

        &:hover {
          background-image: none;
        }
        &:focus {
          background: $button-hover-color;
          outline-offset: 0.25rem;
          border-radius: 0;
        }
      }

      button:focus {
        padding: 0;
      }
    }

    .dropbutton-action {
      a, input, button {
        padding: 10px 15px;
        margin: 0;
        border-radius: 0;
        width: 100%;
        &:hover {
          background: $button-hover-color;
        }
        &:focus {
          background: $button-hover-color;
          outline-offset: -0.25rem;
          outline: 0.25rem solid $element-focus;
        }
      }
    }
    
    .dropbutton-toggle {
      button {
        border-radius: 0;
        &:hover {
          background: $button-hover-color;
        }
        &:focus {
          outline: 0.25rem solid $element-focus;
          outline-offset: 0;
        }
      }
    }

  }

  margin-top: 1.25rem;
  margin-right: -0.75rem;
  width: 19rem;
}


// paragraphs
.field--widget-paragraphs {
  .field-multiple-table {
    margin-bottom: 0;
  }

  td {
    padding: 0;
  }

  .paragraphs-add-wrapper {
    margin-top: 0.5rem;
  }

  .paragraphs-dropbutton-wrapper {
    padding-bottom: rem(10px);
  }
} 

// Todo - right border disappears on multi field dropdown with this padding. 
.ui-widget button {
  padding: .75rem 1.25rem;
  border: none;
  font-weight: 700;
}

// Multiple field with drag ond drop
table .draggable .field-multiple-drag + td {
  padding: 10px 20px;
}

// hide the 'none' option in the heading level dropdown for only contact the contact card.
.paragraph-type--contact-cards {
  option[value="_none"] {
    display: none;
  }
}