//
// Colors, etc.
//

$navy: #0c213a;
$darkblue: #143657;

$white: #ffffff;
$backgroundgray: #f1f2f4;

$black: #000;

$lightgray: #f7f7f8;
$medgray: #f0f0f0;
$gray: #adadad;
$darkergray: #a9a9a9;

$bordergray: #949497;

$lightblue: #ecf2f7;
$filterblue: #12659c;
$lightfilter: #9cadbc;
$skyblue: #227fc7;
$objectblue: #296da6;
$brightblue: #3d9ee9;
$darkgray: #7b7b7b;


$red: #d4381d;
$brightred: #e62807;

$orange: #AB7009;
$brightorange: #996408;

$yellow: #FED069;
$brightyellow: #fec850;

$newblue: #1E3147;

$darkgray: #33383f;
$darkestgray: #393c3f;

$table-border-top: #e3e3e4;
$linkcolor: $objectblue;
$textblue: #273a56;
$textgray: #434343;
$header-bg-color: $navy;
$header-link-color: $white;
$header-drop-shadow: $darkergray;
$filterbg: $lightblue;
$selectedbg: $objectblue;
$filterbuttonbg: $navy;
$tablerowbg: $lightgray;
$ribbonbg: $medgray;
$ribbondropshaow: #dbdcdd;
$ribbonfieldbg: $white;
$bgstartcolor: $white;
$bgendcolor: $backgroundgray;
$footerbg: $darkgray;
