{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{% set current_display =  view.id() ~ "." ~ view.current_display %}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}

{% for row in rows %}
  {% set promoteRow = row.content['#row']._entity.fields.promote.value|number_format %}
  {% if promoteRow %}
  {% set rowClass = 'promote' %}
  {% else %}
  {% set rowClass = '' %}
  {% endif %}

  {% if loop.first %}
    {% set firstLastClass = 'view-row-first' %}
  {% elseif loop.last %}
    {% set firstLastClass = 'view-row-last' %}
  {% else %}
    {% set firstLastClass = '' %}
  {% endif %}

  {% set loopCountClass = 'view-row-count-' ~ loop.index %}

  {%
    set row_classes = [
      default_row_class ? 'views-row', rowClass, loopCountClass, firstLastClass,
    ]
  %}

  {% if current_display == 'statistics_guide.data_set' %}
    {{ row.content }}
  {% else %}

    <div{{ row.attributes.addClass(row_classes) }}>
      {{ row.content }}
    </div>

  {% endif %}

{% endfor %}
