//------------------------------------------------------------------------
// Footer overrides (SEC uses the “big footer” variation from USWDS)
// https://designsystem.digital.gov/components/footer/
//------------------------------------------------------------------------
// Note: Footer has “bg-navy bg-gradient-overlay” classes (see page.html.twig)
.usa-footer {
  // Note: We’re using a custom grid since it has 5 columns, which don’t divide
  //       nicely using USWDS’ 12-col grid (SEC requested the 5th column).
  // https://designsystem.digital.gov/utilities/layout-grid/#responsive-variants
  $bp-2-col: 400px;
  $bp-logo: 640px;
  $bp-4-col: 800px;
  $bp-full: 1024px;
  $bp-end-scale: 1366px;
  $max-width: 1326px;// footer uses a custom max-width
  $sitemap-col-gap: 36px;
  @include scale(padding-top, ($bp-2-col: 38px, $bp-full: 60px));
  padding-bottom: rem(72px);

  @include max-width($bp-full - 1px) {
    text-align: center;
  }

  @include min-width($bp-2-col) {
    padding-bottom: rem(42px);
  }

  &__wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: rem($max-width);
  }

  &__return-to-top {
    padding-bottom: 0;
    padding-top: 0;

    @include min-width($bp-full) {
      margin-bottom: rem(22px);
    }
  }

  &__logo {
    margin-bottom: 0;
    margin-top: 0;

    @include max-width($bp-logo - 1px) {
      margin-top: rem(44px);
    }

    &--mobile {
      @include min-width($bp-logo) {
        display: none;
      }
    }

    &--desktop {
      @include max-width($bp-logo - 1px) {
        display: none;
      }
    }

    &-link {
      display: block;
    }// end link

    &-img {
      max-width: rem(276px);
      width: 100%;

      @include max-width($bp-logo - 1px) {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &__nav {
    // Note: Duplicate the selector to increase specificity in order to
    //       override the USWDS styles without using “!important”
    &#{&} {
      border-bottom: 0;
      margin-left: auto;
      margin-right: auto;
      max-width: none;
      padding: 0;
    }

    @include min-width($bp-full) {
      flex-grow: 1;
    }
  }

  .grid-container {
    max-width: none;
    padding-left: 0;
    padding-right: 0;
  }

  a,
  a:hover,
  a:focus,
  a:active,
  a:visited {
    color: inherit;

    @supports (text-decoration-thickness: 1px) {
      text-decoration-color: currentColor;
      text-decoration-line: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: 3px;
    }
  }

  &__primary {
    &-section {
      background-color: transparent;// USWDS override
      margin-top: rem(40px);

      @include min-width($bp-full) {
        display: flex;
        justify-content: space-between;
      }
    }

    &-list {
      border-top: 0;

      @include mq((min-width: $bp-2-col, max-width: $bp-4-col - 1px)) {
        display: grid;
        gap: rem($sitemap-col-gap);
        grid-template-columns: 1fr 1fr;
        margin-left: auto;
        margin-right: auto;
        max-width: rem(460px);
        text-align: left;
      }

      @include min-width($bp-4-col) {
        display: flex;
        justify-content: space-between;
        margin-left: rem(-$sitemap-col-gap);
        text-align: left;
      }
    }

    &-item {
      @include max-width($bp-2-col - 1px) {
        &:not(:first-child) {
          margin-top: rem(36px);
        }
      }

      @include min-width($bp-4-col) {
        margin-left: rem($sitemap-col-gap);
        max-width: 25%;
      }
    }

    &-heading {
      line-height: 1.2;
      margin-bottom: rem(10px);
    }
  }

  // This class is added to <li> in nav section
  &__secondary {
    $secondary-selector: &;

    &-list {
      background-color: transparent;
      color: inherit;
      padding-bottom: 0;
      padding-top: 0;
    }

    &-item {
      &:not(:first-child) {
        margin-top: rem(10px);
      }
    }

    &-link {
      margin-left: 0;// USWDS override
    }

    // USWDS overrides
    &-section {
      background-color: transparent;
      color: inherit;
      padding-bottom: 0;
      padding-top: 0;

      @include max-width($bp-full - 1px) {
        margin-top: rem(33px);
      }

      @include min-width($bp-logo) {
        align-items: center;
        display: flex;
        justify-content: space-between;
      }

      @include min-width($bp-full) {
        margin-top: rem(36px);
      }
    }
  }

  // Email sign-up form
  .usa-sign-up {
    max-width: rem(340px);
    padding-bottom: 0;
    padding-top: 0;

    @include max-width($bp-2-col - 1px) {
      margin-top: rem(35px);
    }

    @include max-width($bp-full - 1px) {
      margin-left: auto;
      margin-right: auto;
      width: 76%;
    }

    @include mq((min-width: $bp-2-col, max-width: $bp-full - 1px)) {
      margin-top: rem(50px);
    }

    @include min-width($bp-full) {
      margin-left: rem($sitemap-col-gap);
      width: 30%;
    }

    @include min-width(1200px) {
      margin-left: 8%;
    }

    &__heading {
      @include scale(font-size, ($bp-full: 18px, $bp-end-scale: 22px), $initial: false);
      font-size: rem(16px);
      line-height: 1.2;

      @include min-width($bp-2-col) {
        font-size: rem(22px);
      }
    }

    .usa-button {
      --theme-button-bg-color: #{$button-blue-dark};
      --theme-button-color: #fff;
      --theme-button-hover-bg-color: #{$button-blue-darker};
      margin-top: rem(36px);
      width: auto;
    }
  }

  // Wrapper around social links
  &__social {
    align-items: center;
    display: flex;
    margin-top: 0;

    @include max-width($bp-logo - 1px) {
      justify-content: space-evenly;
    }

    @include max-width($bp-2-col - 1px) {
      width: 100%;
    }

    &-item {
      &:not(:first-child) {
        @include scale(margin-left, ($bp-logo: 5px, 720px: 12px), $initial: false);
      }
    }// end item

    .usa-social-link {
      $link-size: 44px;
      background-color: transparent;
      display: block;
      height: rem($link-size);
      transition: background-color 180ms ease;
      width: rem($link-size);

      &:hover,
      &:focus,
      &:active {
        background-color: rgba(#fff, 0.2);
      }

      // Note: “.usa-icon” includes “height: 1em; width: 1em;” from USWDS
      // Note: Since we can’t get each individual icon’s viewBox dimensions
      //       in the template, the size of the SVG element won’t match the
      //       use element, so the styles may not match Figma _exactly_.
      .usa-icon {
        height: 100%;
        max-height: rem($link-size);
        width: 100%;
      }
    }
  }
}
