//------------------------------------------------------------------------
// Custom styles for USWDS modal when used with side nav
//
// Note: This component is hidden in mobile by “.l-show-sidenav-desktop”
//       See _sidenav-toggle.scss for toggle styles
//------------------------------------------------------------------------
#sidenav_desktop {
  $selector: '.usa-modal';
  $speed: 500ms;
  $easing: $easeOutCubic;
  $border-color: $border-gray-dark;
  $overlay-color: rgba(#000, 0.13);
  $right-border-width: 15px;

  &#{$selector}-wrapper {
    z-index: 99999;

    &.is-hidden {
      opacity: 1;
      transition: visibility 0s linear $speed;
      visibility: hidden;

      #{$selector} {
        transform: translateX(-100%);
        transition: transform $speed $easing;
      }
    }

    &.is-visible {
      transition: visibility 0s linear 0s;
      visibility: visible;

      #{$selector} {
        transform: translateX(0);
        transition: transform 300ms $easing;

        &-overlay {
          background-color: $overlay-color;
        }
      }
    }
  }

  #{$selector} {
    border-right: 1px solid $border-color;
    border-radius: 0;
    display: block;
    margin: 0;
    max-width: rem($layout-sidenav-width);

    .no-js & {
      border-right: 0;
      max-width: none;
    }

    > nav {
      border-right: $right-border-width solid #fff;

      .no-js & {
        border-right: 0;
      }
    }

    // Fill viewport height
    &,
    > nav,
    .region {
      height: 100%;
    }

    &-overlay {
      background-color: transparent;
      height: auto;
      padding: 0;
      transition: background-color $speed linear;

      // Hide element (USWDS uses it to vertically center modal)
      &:before {
        display: none;
      }
    }

    &__close {}

    // Custom sidenav styles
    .usa-sidenav {
      border-right: 1px solid $border-color;
      height: 100%;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;// iOS “momentum” scrolling

      .no-js & {
        border-right: 0;
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}
