{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {{ content }}
  </div>
{% endif %}

{# Webform Error message triggered by url peramter #}
{% if msg == "fail" %}
  <div class="error peram_msg">
    <div role="contentinfo" aria-label="Error message">
      <div role="alert">
        <h2 class="visually-hidden">Error message</h2>
        Our systems are down please try again later
      </div>
    </div>
  </div>
{% endif %}
