<div class="l-show-sidenav-desktop">
  {# Note: The side nav toggle button is a custom component #}
  <a class="sidenav-toggle no-js-hide"
    href="#sidenav_desktop"
    aria-controls="sidenav_desktop"
    data-open-modal="">
    <span class="u-visually-hidden">Expand section navigation</span>
  </a>
  <div class="usa-modal" id="sidenav_desktop">
    <button class="sidenav-toggle sidenav-toggle--close usa-button usa-modal__close"
      type="button"
      aria-label="Close section navigation"
      data-close-modal="">
      <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
        <use xlink:href="/assets/img/sprite.svg#close"></use>
      </svg>
    </button>
    <nav class="" aria-label="Section navigation">
      {{ page.sidebar_first }}
    </nav>
  </div>
</div>