// -------------------------------------------------------------------------
// Layout Vars
//------------------------------------------------------------------------
$layout-max-width: 896px;// Landing page content well
$layout-max-width-narrow: 664px;// Default body copy content well
$layout-max-width-wide: 1108px;// Homepage hero, strata
$layout-max-width-global: 1400px;// Global max-width

// Horizontal padding used by l-padding helper class
$layout-padding-min: 26px;
$layout-padding-max: 36px;
$layout-padding-min-bp: 375px;
$layout-padding-max-bp: 740px;

// Calculate when wrappers reach their max-width
$layout-max-width-bp: $layout-max-width + ($layout-padding-max * 2);
$layout-max-width-narrow-bp: $layout-max-width-narrow + ($layout-padding-max * 2);
$layout-max-width-wide-bp: $layout-max-width-wide + ($layout-padding-max * 2);

// Text scaling breakpoint
$layout-text-scale-end-bp: $layout-max-width-narrow-bp;

// Navigation
$layout-nav-bp: 1024px;// switch from mobile to desktop nav

// Side nav (exposed on landing pages, collapsed elsewhere)
$layout-sidenav-bp: 1024px;// hidden in mobile
$layout-sidenav-width: 260px;
$layout-sidenav-horz-padding: 42px;
$layout-sidenav-top-offset: 28px;// for toggle buttons

// Right sidebar (used on non-landing pages)
$layout-sidebar-bp: $layout-sidenav-bp;// needs to stay in sync for mobile sidenav
$layout-sidebar-width: 362px;
$layout-sidebar-horz-padding: 42px;// doesn’t need to match $layout-sidenav-horz-padding
$layout-sidebar-max-width-bp: $layout-max-width-narrow + ($layout-padding-max * 2) + $layout-sidebar-width;
$layout-sidebar-border-width: 8px;// displayed in desktop on left viewport edge

// Cards
$layout-card-bp: 640px;// for scaling text and changing box-shadow
$layout-card-horz-padding-min: 20px;
$layout-card-horz-padding-max: 35px;

// Card group
$layout-card-group-col-gap: 28px;

// Pagination
$pagination-controls-bp: 639px;
