// -------------------------------------------------------------------------
// Use Sass vars to store z-index of certain global components
// -------------------------------------------------------------------------
$z-skip-links: 999;
$z-header: 800;
$z-nav: 700;
$z-main: 100;
