/**
 * @file
 * Styling for contextual module icons.
 */
/**
 * Toolbar tab icon.
 */
.toolbar-bar .toolbar-icon-edit:before {
  background-image: url(/themes/custom/secgov/images/admin-toolbar/bebebe/pencil.svg); }

.toolbar-bar .toolbar-icon-edit:active:before,
.toolbar-bar .toolbar-icon-edit.is-active:before {
  background-image: url(/themes/custom/secgov/images/admin-toolbar/ffffff/pencil.svg); }

/**
 * Contextual trigger.
 */
.contextual .trigger {
  /* Override the .focusable height: auto */
  height: 26px !important;
  /* Override the .focusable height: auto */
  width: 26px !important;
  /* text-indent: -9999px; */ }

.contextual .trigger:hover {
  background-image: url(/themes/custom/secgov/images/admin-toolbar/787878/pencil.svg); }

.contextual .trigger:focus {
  background-image: url(/themes/custom/secgov/images/admin-toolbar/5181c6/pencil.svg);
  outline: none; }

/**
 * @file
 * Icons for Quick Edit module.
 */
.quickedit .icon {
  min-height: 1em;
  min-width: 2.5em; }

.quickedit .icon.icon-only {
  text-indent: 0px;
  position: static; }

.quickedit .icon.icon-end {
  padding-right: 2.5em;
  /* LTR */ }

[dir="rtl"] .quickedit .icon.icon-end {
  padding-left: 2.5em;
  padding-right: 0; }

.quickedit .icon:before {
  background-attachment: scroll;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  /* LTR */
  position: absolute;
  top: 0;
  width: 100%; }

[dir="rtl"] .quickedit .icon:before {
  left: auto;
  right: 0; }

.quickedit .icon-end:before {
  left: auto;
  /* LTR */
  right: 0.5em;
  /* LTR */
  width: 18px; }

[dir="rtl"] .quickedit .icon-end:before {
  left: 0.5em;
  right: auto; }

.quickedit button.icon {
  font-size: 1em; }

.quickedit .icon-pencil {
  margin-left: .5em;
  padding-left: 1.5em; }

/**
 * Images.
 */
.quickedit .icon-close:before {
  height: 12px;
  top: 10px; }

.quickedit .icon-pencil:before {
  background-position: left center;
  background-size: 1.3em; }

.quickedit .icon.icon-pencil {
  border: none;
  border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  box-shadow: inset rgba(255, 255, 255, 0.8) 0 0px 0px;
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.8) 0 0px 0px;
  -moz-box-shadow: inset rgba(255, 255, 255, 0.8) 0 0px 0px;
  display: inline-block;
  width: 40px;
  height: 30px;
  line-height: 12px;
  margin-right: 0px;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  vertical-align: middle; }

/**
 * @file
 * Generic base styles for contextual module.
 */
.contextual-region {
  position: relative; }

.contextual .trigger:focus {
  /* Override the .focusable position: static */
  position: relative !important; }

.contextual-links {
  /*  display: none !important; */ }

.contextual.open .contextual-links {
  /*  display: none; */ }

/**
 * @file
 * Styling for contextual module.
 */
/**
 * Contextual links wrappers.
 */
.contextual {
  position: absolute;
  right: 0;
  /* LTR */
  top: 6px;
  z-index: 500; }

[dir="rtl"] .contextual {
  left: 0;
  right: auto; }

/**
 * Contextual region.
 */
.contextual-region.focus {
  outline: 1px dashed #d6d6d6;
  outline-offset: 1px; }

/**
 * Contextual trigger.
 */
.contextual .trigger {
  /*  display: none; */
  font-family: 'FontAwesome';
  font-size: 26px;
  content: '&#xf040;';
  background-attachment: scroll;
  background-color: none;
  border: 1px solid #ccc;
  border-radius: 13px;
  float: right;
  /* LTR */
  margin: 0;
  overflow: hidden;
  padding: 0 2px;
  position: relative;
  right: 6px;
  /* LTR */
  cursor: pointer; }

[dir="rtl"] .contextual .trigger {
  float: left;
  right: auto;
  left: 6px; }

.contextual.open .trigger {
  border: 1px solid #ccc;
  border-bottom-color: transparent;
  border-radius: 13px 13px 0 0;
  box-shadow: none;
  z-index: 2; }

/**
 * Contextual links.
 *
 * The following selectors are heavy to discourage theme overriding.
 */
.contextual-region .contextual .contextual-links {
  /*  display: none; */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px 0 4px 4px;
  /* LTR */
  clear: both;
  float: right;
  /* LTR */
  margin: 0;
  padding: 0.25em 0;
  position: relative;
  right: 6px;
  /* LTR */
  text-align: left;
  /* LTR */
  top: -1px;
  white-space: nowrap; }

[dir="rtl"] .contextual-region .contextual .contextual-links {
  /*  display: none; */
  border-radius: 0 4px 4px 4px;
  float: left;
  left: 6px;
  right: auto;
  text-align: right; }

.contextual-region .contextual .contextual-links li {
  /*  display: none; */
  background-color: #fff;
  border: none;
  font-size: 12px;
  margin: 0;
  padding: 0;
  line-height: 1em; }

.contextual-region .contextual .contextual-links a {
  background-color: #fff;
  color: #333;
  /*  display: none; */
  font-family: sans-serif;
  font-size: small;
  line-height: 0.8em;
  margin: 0.25em 0;
  padding: 0.4em 0.6em; }

.touchevents .contextual-region .contextual .contextual-links a {
  font-size: large; }

.contextual-region .contextual .contextual-links a,
.contextual-region .contextual .contextual-links a:hover {
  text-decoration: none; }

.no-touchevents .contextual-region .contextual .contextual-links li a:hover {
  color: #000;
  background: #f7fcff; }

/**
 * @file
 * Styling for contextual module's toolbar tab.
 */
/* Tab appearance. */
.toolbar .toolbar-bar .contextual-toolbar-tab.toolbar-tab {
  float: right;
  /* LTR */ }

[dir="rtl"] .toolbar .toolbar-bar .contextual-toolbar-tab.toolbar-tab {
  float: left; }

.toolbar .toolbar-bar .contextual-toolbar-tab .toolbar-item {
  margin: 0; }

.toolbar .toolbar-bar .contextual-toolbar-tab .toolbar-item.is-active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4e9fea), to(#4584dd));
  background-image: linear-gradient(#4e9fea 0%, #4584dd 100%); }

/* @todo get rid of this declaration by making toolbar.module's CSS less specific */
.toolbar .toolbar-bar .contextual-toolbar-tab.toolbar-tab.hidden {
  /* display: none; */ }

/*# sourceMappingURL=maps/contextual.css.map */
