// -------------------------------------------------------------------------
// Base Styles
//
// stylelint-disable no-important media-feature-name-no-unknown
// -------------------------------------------------------------------------
:root {
  // Header height needed for nav positioning in mobile
  // --header-height: #{rem(70px)};
  //
  // @include min-width(740px) {
  //   --header-height-mobile: #{rem(112px)};
  // }
}

// 1. USWDS automatically applies background-color to the body but we’re also applying
//    it to the html tag to ensure it always fills the page.
//    http://css-tricks.com/just-one-of-those-weird-things-about-css-background-on-body/
html {
  background-color: $bg-default;// [1]

  // Support iOS accessibility text size
  // Note: Only apply on iOS due to bug with Safari 14 on Big Sur
  // https://webkit.org/blog/3709/using-the-system-font-in-web-content/
  // https://www.interactiveaccessibility.com/blog/text-resizing-web-pages-ios-using-dynamic-type
  // https://dev.to/colingourlay/how-to-support-apple-s-dynamic-text-in-your-web-content-with-css-40c0
  // https://gist.github.com/colingourlay/d95908ec5cd4854c7a5afa06f3989479
  // stylelint-disable font-family-no-missing-generic-family-keyword
  &.ua-ios {
    @supports (font: -apple-system-body) {
      font: -apple-system-body;
    }
  }

  // Add extra margin above jump link targets to offset the fixed header
  // https://css-tricks.com/fixed-headers-on-page-links-and-overlapping-content-oh-my/
  // https://caniuse.com/mdn-css_properties_scroll-padding
  // @supports (scroll-padding-top: 0) {
  //   $vert-offset: 20px;
  //   scroll-padding-top: calc(var(--layout-header-height) + $vert-offset);
  // }

  // Allow long words to wrap in narrow viewports
  @include max-width(319px) {
    @include break-word;
  }
}

// 2. Set “font-family” on body since we’re applying “-apple-system-body” on html element
// 3. Prevent browsers from automatically adding hyphens by default
body {
  font-family: $body-copy-font;// [2]
  hyphens: manual;// [3]
}

// Prevent zoom on iOS (requires adding "ios" class to <html>)
// http://www.456bereastreet.com/archive/201212/ios_webkit_browsers_and_auto-zooming_form_controls/
.ua-ios {
  input,
  textarea,
  select {
    // Use max() to make it possible to override in component styles
    @supports (font-size: #{"max(1em, 16px)"}) {
      font-size: #{"max(1em, 16px)"};
    }
  }
}

main {
  clear: both;// TODO: See if still needed after header and nav are done

  // Custom styles for when there’s a collapsible left sidenav
  &.has-collapsed-sidenav {
    @include min-width($layout-sidenav-bp) {
      border-left: $layout-sidebar-border-width solid $button-blue-dark;
    }
  }
}
