<div
  class="usa-summary-box"
  role="region"
  aria-labelledby="summary-box-key-information"
>

  <div class="usa-summary-box__body">
    <h2 class="usa-summary-box__heading" id="summary-box-key-information">
     {{ 'Note about'|t }} {{ title }}
    </h2>
    <div class="usa-summary-box__text">
      <ul class="usa-list">
        <li>
          <p>
            {{ 'For examples, see the'|t }}
            <a class="usa-summary-box__link" href="/sec-styleguide/usa-form-element-examples">{{ 'main form examples page.'|t }}
            </a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
