{% set alignment_attribute = grid_alignment | render == 'Stretch to Fit' ? 'data-cols-stretch' %}

<div class="usa-card-group" data-cols="{{ cards_per_row }}" {{alignment_attribute}}>
  {{ cards }}
</div>