{#
/**
 * @file
 * Override of system/menu.html.twig for the footer menu.
 */
#}

{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, 0, footer_style) }}

{% macro menu_links(items, menu_level, footer_style) %}
  {% import _self as menus %}

  {% if items %}
    {# Menu should not apply this wrapper if the macro already recursed. #}
    {% if menu_level == 0 %}
      <ul class="usa-footer__primary-list" role="list">
    {% endif %}

    {% for item in items %}
      {% if menu_level == 0 %}
        <li class="usa-footer__primary-item">
          {# Turn the menu item into a header and its children the links. #}
          {# Note: Add “usa-footer__primary-content--collapsible” to collapse section in mobile #}
          {# Note: Add “usa-footer__primary-link” class to <h4> to make it a toggle in mobile #}
          {% if item.title and footer_style == 'big' %}
            <h4 class="usa-footer__primary-heading">{{ item.title }}</h4>
          {% endif %}

          {% if item.below %}
            <ul class="usa-footer__secondary-list" role="list">
              {{ menus.menu_links(item.below, 1, footer_style) }}
            </ul>
          {% endif %}
        </li>
      {% else %}
        <li class="usa-footer__secondary-item">
          {{ link(item.title, item.url, { class: ['usa-footer__secondary-link'] }) }}
        </li>
      {% endif %}
    {% endfor %}

    {# Menu should not apply this wrapper if the macro already recursed. #}
    {% if menu_level == 0 %}
      </ul>
    {% endif %}

  {% endif %}
{% endmacro %}
