{# Example of code generated in the pop-up. this file is ONLY used for local development. #}
<div class="smart-search-container" id="smart-search-container">
   <div class="smart-search-entity-hints" style="display: block;">
      <span class="smart-search-EDGAR">EDGAR</span><span class="smart-search-resources">| Filings</span><br>
      <table class="smart-search-entity-hints" width="450">
         <tbody>
            <tr class="smart-search-hint" data="SSR MINING INC. (SSRM) (CIK 0000921638)">
               <td class="smart-search-hint-entity"><a href="/edgar/browse/?CIK=921638&amp;owner=exclude"><b>SS</b>R MINING INC. (<b>SS</b>RM)</a></td>
               <td class="smart-search-hint-cik"><a href="/edgar/browse/?CIK=921638&amp;owner=exclude"> <i>CIK&nbsp;0000921638</i></a></td>
            </tr>
            <tr class="smart-search-hint" data="SSB Bancorp, Inc. (SSBP) (CIK 0001716188)">
               <td class="smart-search-hint-entity"><a href="/edgar/browse/?CIK=1716188&amp;owner=exclude"><b>SS</b>B Bancorp, Inc. (<b>SS</b>BP)</a></td>
               <td class="smart-search-hint-cik"><a href="/edgar/browse/?CIK=1716188&amp;owner=exclude"> <i>CIK&nbsp;0001716188</i></a></td>
            </tr>
            <tr class="smart-search-hint" data="System1, Inc. (SST, SST-WT) (CIK 0001805833)">
               <td class="smart-search-hint-entity"><a href="/edgar/browse/?CIK=1805833&amp;owner=exclude">System1, Inc. (<b>SS</b>T, <b>SS</b>T-WT)</a></td>
               <td class="smart-search-hint-cik"><a href="/edgar/browse/?CIK=1805833&amp;owner=exclude"> <i>CIK&nbsp;0001805833</i></a></td>
            </tr>
            <tr class="smart-search-hint" data="SURO CAPITAL CORP. (SSSS, SSSSL) (CIK 0001509470)">
               <td class="smart-search-hint-entity"><a href="/edgar/browse/?CIK=1509470&amp;owner=exclude">SURO CAPITAL CORP. (<b>SS</b><b>SS</b>, <b>SS</b><b>SS</b>L)</a></td>
               <td class="smart-search-hint-cik"><a href="/edgar/browse/?CIK=1509470&amp;owner=exclude"> <i>CIK&nbsp;0001509470</i></a></td>
            </tr>
            <tr class="smart-search-hint" data="SIGNA Sports United N.V. (SSU, SSU-WT) (CIK 0001869858)">
               <td class="smart-search-hint-entity"><a href="/edgar/browse/?CIK=1869858&amp;owner=exclude">SIGNA Sports United N.V. (<b>SS</b>U, <b>SS</b>U-WT)</a></td>
               <td class="smart-search-hint-cik"><a href="/edgar/browse/?CIK=1869858&amp;owner=exclude"> <i>CIK&nbsp;0001869858</i></a></td>
            </tr>
            <tr class="smart-search-hint" data="SS&amp;C Technologies Holdings Inc (SSNC) (CIK 0001402436)">
               <td class="smart-search-hint-entity"><a href="/edgar/browse/?CIK=1402436&amp;owner=exclude"><b>SS</b>&amp;C Technologies Holdings Inc (<b>SS</b>NC)</a></td>
               <td class="smart-search-hint-cik"><a href="/edgar/browse/?CIK=1402436&amp;owner=exclude"> <i>CIK&nbsp;0001402436</i></a></td>
            </tr>
            <tr class="smart-search-hint" data="E.W. SCRIPPS Co (SSP) (CIK 0000832428)">
               <td class="smart-search-hint-entity"><a href="/edgar/browse/?CIK=832428&amp;owner=exclude">E.W. SCRIPPS Co (<b>SS</b>P)</a></td>
               <td class="smart-search-hint-cik"><a href="/edgar/browse/?CIK=832428&amp;owner=exclude"> <i>CIK&nbsp;0000832428</i></a></td>
            </tr>
            <tr class="smart-search-hint" data="Sunstock, Inc. (SSOK) (CIK 0001559157)">
               <td class="smart-search-hint-entity"><a href="/edgar/browse/?CIK=1559157&amp;owner=exclude">Sunstock, Inc. (<b>SS</b>OK)</a></td>
               <td class="smart-search-hint-cik"><a href="/edgar/browse/?CIK=1559157&amp;owner=exclude"> <i>CIK&nbsp;0001559157</i></a></td>
            </tr>
            <tr class="smart-search-hint" data="SASOL LTD (SSL, SASOF) (CIK 0000314590)">
               <td class="smart-search-hint-entity"><a href="/edgar/browse/?CIK=314590&amp;owner=exclude">SASOL LTD (<b>SS</b>L, SASOF)</a></td>
               <td class="smart-search-hint-cik"><a href="/edgar/browse/?CIK=314590&amp;owner=exclude"> <i>CIK&nbsp;0000314590</i></a></td>
            </tr>
            <tr class="smart-search-hint" data="STRATASYS LTD. (SSYS) (CIK 0001517396)">
               <td class="smart-search-hint-entity"><a href="/edgar/browse/?CIK=1517396&amp;owner=exclude">STRATASYS LTD. (<b>SS</b>YS)</a></td>
               <td class="smart-search-hint-cik"><a href="/edgar/browse/?CIK=1517396&amp;owner=exclude"> <i>CIK&nbsp;0001517396</i></a></td>
            </tr>
         </tbody>
      </table>
      <br><a class="smart-search-edgar-full-text" href="/edgar/search/#/q=ss&amp;dateRange=all&amp;startdt=1995-06-01&amp;enddt=2020-04-21">Search for "<span class="smart-search-search-text">ss</span>" in EDGAR filings</a><br><span class="smart-search-SEC-gov">SEC.gov</span><span class="smart-search-resources">| Webpages &amp; Documents</span><br>
      <div class="smart-search-sec-gov-website">Search for "<span class="smart-search-search-text">ss</span>" on SEC.gov</div>
   </div>
</div>