<div class="smart-search-container">
	<div class="smart-search-entity-hints" style="left: 0px; right: auto; top: 0px; display: block;">
		<div class="smart-search-section smart-search-section__edgar">
			<div class="smart-search-heading smart-search-heading__edgar_filings">
				<span class="smart-search-EDGAR">EDGAR</span>
				<span class="smart-search-resources">| Filings</span>
			</div>
			<table class="smart-search-entity-hints" width="450">
				<tbody>
					<tr class="smart-search-hint smart-search-selected-hint" data="MicroAlgo Inc. (MLGO) (CIK 0001800392)">
						<td class="smart-search-hint-entity">
							<a href="/edgar/browse/?CIK=1800392&amp;owner=exclude">
								<b>M</b>icroAlgo Inc. (<b>M</b>LGO)</a>
						</td>
						<td class="smart-search-hint-cik">
							<a href="/edgar/browse/?CIK=1800392&amp;owner=exclude">
								<i>CIK&nbsp;0001800392</i>
							</a>
						</td>
					</tr>
					<tr class="smart-search-hint" data="MICROSOFT CORP (MSFT) (CIK 0000789019)">
						<td class="smart-search-hint-entity">
							<a href="/edgar/browse/?CIK=789019&amp;owner=exclude">
								<b>M</b>ICROSOFT CORP (<b>M</b>SFT)</a>
						</td>
						<td class="smart-search-hint-cik">
							<a href="/edgar/browse/?CIK=789019&amp;owner=exclude">
								<i>CIK&nbsp;0000789019</i>
							</a>
						</td>
					</tr>
					<tr class="smart-search-hint" data="MICROVISION, INC. (MVIS) (CIK 0000065770)">
						<td class="smart-search-hint-entity">
							<a href="/edgar/browse/?CIK=65770&amp;owner=exclude">
								<b>M</b>ICROVISION, INC. (<b>M</b>VIS)</a>
						</td>
						<td class="smart-search-hint-cik">
							<a href="/edgar/browse/?CIK=65770&amp;owner=exclude">
								<i>CIK&nbsp;0000065770</i>
							</a>
						</td>
					</tr>
					<tr class="smart-search-hint" data="MICROSTRATEGY Inc (MSTR) (CIK 0001050446)">
						<td class="smart-search-hint-entity">
							<a href="/edgar/browse/?CIK=1050446&amp;owner=exclude">
								<b>M</b>ICROSTRATEGY Inc (<b>M</b>STR)</a>
						</td>
						<td class="smart-search-hint-cik">
							<a href="/edgar/browse/?CIK=1050446&amp;owner=exclude">
								<i>CIK&nbsp;0001050446</i>
							</a>
						</td>
					</tr>
					<tr class="smart-search-hint" data="MICRON TECHNOLOGY INC (MU) (CIK 0000723125)">
						<td class="smart-search-hint-entity">
							<a href="/edgar/browse/?CIK=723125&amp;owner=exclude">
								<b>M</b>ICRON TECHNOLOGY INC (<b>M</b>U)</a>
						</td>
						<td class="smart-search-hint-cik">
							<a href="/edgar/browse/?CIK=723125&amp;owner=exclude">
								<i>CIK&nbsp;0000723125</i>
							</a>
						</td>
					</tr>
					<tr class="smart-search-hint" data="Microbot Medical Inc. (MBOT) (CIK 0000883975)">
						<td class="smart-search-hint-entity">
							<a href="/edgar/browse/?CIK=883975&amp;owner=exclude">
								<b>M</b>icrobot
								<b>M</b>edical Inc. (<b>M</b>BOT)</a>
						</td>
						<td class="smart-search-hint-cik">
							<a href="/edgar/browse/?CIK=883975&amp;owner=exclude">
								<i>CIK&nbsp;0000883975</i>
							</a>
						</td>
					</tr>
					<tr class="smart-search-hint" data="ROYCE MICRO-CAP TRUST, INC. (RMT) (CIK 0000912147)">
						<td class="smart-search-hint-entity">
							<a href="/edgar/browse/?CIK=912147&amp;owner=exclude">ROYCE
								<b>M</b>ICRO-CAP TRUST, INC. (R<b>M</b>T)</a>
						</td>
						<td class="smart-search-hint-cik">
							<a href="/edgar/browse/?CIK=912147&amp;owner=exclude">
								<i>CIK&nbsp;0000912147</i>
							</a>
						</td>
					</tr>
					<tr class="smart-search-hint" data="MICRON SOLUTIONS INC /DE/ (MICR) (CIK 0000819689)">
						<td class="smart-search-hint-entity">
							<a href="/edgar/browse/?CIK=819689&amp;owner=exclude">
								<b>M</b>ICRON SOLUTIONS INC /DE/ (<b>M</b>ICR)</a>
						</td>
						<td class="smart-search-hint-cik">
							<a href="/edgar/browse/?CIK=819689&amp;owner=exclude">
								<i>CIK&nbsp;0000819689</i>
							</a>
						</td>
					</tr>
					<tr class="smart-search-hint" data="MICROALLIANCE GROUP INC. (MALG) (CIK 0001309251)">
						<td class="smart-search-hint-entity">
							<a href="/edgar/browse/?CIK=1309251&amp;owner=exclude">
								<b>M</b>ICROALLIANCE GROUP INC. (<b>M</b>ALG)</a>
						</td>
						<td class="smart-search-hint-cik">
							<a href="/edgar/browse/?CIK=1309251&amp;owner=exclude">
								<i>CIK&nbsp;0001309251</i>
							</a>
						</td>
					</tr>
					<tr class="smart-search-hint" data="MICROPAC INDUSTRIES INC (MPAD) (CIK 0000065759)">
						<td class="smart-search-hint-entity">
							<a href="/edgar/browse/?CIK=65759&amp;owner=exclude">
								<b>M</b>ICROPAC INDUSTRIES INC (<b>M</b>PAD)</a>
						</td>
						<td class="smart-search-hint-cik">
							<a href="/edgar/browse/?CIK=65759&amp;owner=exclude">
								<i>CIK&nbsp;0000065759</i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
			<a class="smart-search-edgar-full-text" href="/edgar/search/#/q=m&amp;dateRange=all&amp;startdt=1995-06-01&amp;enddt=2020-04-21">Search for "<span class="smart-search-search-text">m</span>" in EDGAR filings</a>
		</div>
		<div class="smart-search-section smart-search-section__webpages_documents">
			<div class="smart-search-heading smart-search-heading__webpages_documents">
				<span class="smart-search-SEC-gov">SEC.gov</span>
				<span class="smart-search-resources">| Webpages &amp; Documents</span>
			</div>
			<div class="smart-search-sec-gov-website">Search for "<span class="smart-search-search-text">m</span>" on SEC.gov</div>
		</div>
	</div>
</div>
