<!-- Subscribe link, RSS, Email -->
<div id="addthis-icons" aria-hidden="true" >
  <div class="addthis-wrapper">
    <div class="hide-for-print appIconsDetail" style="visibility: visible;">
      <div class="addthis_toolbox addthis_default_style hide-for-small">
        <a class="addthis_button_print at300b" title="Print" href="#" tabindex="0">
          <span class="fa fa-print"></span>
        </a>
        <a class="addthis_button_facebook at300b" title="Facebook" href="#" tabindex="0">
          <span class="fa fa-facebook"></span>
        </a>
        <a class="addthis_button_twitter at300b" title="Tweet" href="#" tabindex="0">
          <span class="fa fa-twitter"></span>
        </a>
        <a class="addthis_button_email at300b" target="_blank" title="Email" href="#" tabindex="0">
          <span class="fa fa-envelope"></span>
        </a>
        <a class="addthis_button_compact at300m" href="#" title="Share" tabindex="0">
          <span class="fa fa-plus"></span>
        </a>
      <div class="atclear"></div>
    </div>  
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style hide-for-medium-up show-for-small addthis_mobile">
      <a class="addthis_button_facebook at300b" title="Facebook" href="#" tabindex="0">
        <span class="fa fa-facebook"></span>
      </a>
      <a class="addthis_button_twitter at300b" title="Tweet" href="#" tabindex="0">
        <span class="fa fa-twitter"></span>
      </a>
      <a class="addthis_button_email at300b" target="_blank" title="Email" href="#" tabindex="0">
        <span class="fa fa-envelope"></span>
      </a>
    </div>
    <div class="atclear"></div>
    </div>
  </div>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#async=1"></script>