<div class="overlap">
  <!-- Subscribe link, RSS, Email -->
  <div id="addthis-icons-508" class="visibly-hidden">
    <div class="addthis-wrapper">
      <div class="appIconsDetail hide">
        <div class="addthis_toolbox addthis_default_style hide-for-small">
          <a class="addthis_button_print at300b" title="Print" href="#">
            <span class="fa fa-print"></span>
          </a>
          <a class="addthis_button_facebook at300b" title="Facebook" href="#">
            <span class="fa fa-facebook"></span>
          </a>
          <a class="addthis_button_twitter at300b" title="Tweet" href="#">
            <span class="fa fa-twitter"></span>
          </a>
          <a class="addthis_button_email at300b" target="_blank" title="Email" href="#">
            <span class="fa fa-envelope"></span>
          </a>
          <a class="addthis_button_compact at300m" href="#" title="Share">
            <span class="fa fa-plus"></span>
          </a>
        <div class="atclear"></div>
      </div>  
      <div class="addthis_toolbox hide">
        <a class="addthis_button_facebook at300b" title="Facebook" href="#">
          <span class="fa fa-facebook"></span>
        </a>
        <a class="addthis_button_twitter at300b" title="Tweet" href="#">
          <span class="fa fa-twitter"></span>
        </a>
        <a class="addthis_button_email at300b" target="_blank" title="Email" href="#">
          <span class="fa fa-envelope"></span>
        </a>
      </div>
      <div class="atclear"></div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#async=1"></script>
</div>