{#
/**
 * @file
 * Custom theme implementation for a field.
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 *
 * @ingroup themeable
 */
#}

{%- for item in items -%}  
  {% set media = item.content["#object"] ? item.content["#object"] : item.content["#options"]["entity"] %}
  {% set linkText = media.label ?: media.field_media_file.entity.filename.value %}
  {% set linkAddress = media.field_media_file ? file_url(media.field_media_file.entity.uri.value) : media.field_media_entity_link.uri %}

  <div{{ attributes.addClass(field_name) }}>
    <a href="{{ linkAddress }}"> {{ linkText }} </a>
  </div>
{%- endfor -%}