label[for] {
  cursor: pointer;
}

#colorredBlack {
  color: Black;
}

#colorred {
  color: Red;
}

.redasterisk:after {
  color: red;
  content: "*";
  font: bold;
}

select {
  height: 35px;
  background: none !important;
  padding-right: 0;
}

.input-disabled {
  background-color: #EBEBE4 !important;
  border: 1px solid gray;
}

.tooltip > .nub {
  display: none;
}

.currencycontrol,
.decimalcontrol,
.integercontrol,
.ratecontrol,
input[type='text'] {
  text-align: left;
}

.leftButton {
  margin-right: 20px !important;
}

.btn {
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  cursor: pointer;
  height: 30px;
  border: 1px solid #cccccc;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  text-align: center;
  float: none !important;
}

.noTitleStuff .ui-dialog-titlebar {
  display: none;
}

i:hover {
  cursor: pointer;
}
/*tr:nth-child(n+1) {background: white !important;}*/
table#main tbody tr:nth-of-type(2) td {
  border-top: 1px solid #99CCFF;
}

.tables-header-blue-color {
  font-size: 12px !important;
}

.tables-header-blue-color th {
  background-color: #99CCFF;
  font-size: 12px;
  font-weight: normal;
}

.tables-header-blue-color td {
  border: none;
}

#sub tr:nth-child(2) td:nth-of-type(3),
#sub tr:nth-child(4) td:nth-of-type(3) {
  border-bottom: 1px solid black;
}

.hidden {
  display: none;
}

.lineht {
  font-size: 0.875em;
  height: 2.3125em;
  line-height: 2.3125em;
}
/* Attach elements to the beginning or end of an input */
.postfix-rfe,
.prefix-rfe {
  display: block;
  position: relative;
  z-index: 2;
  text-align: center;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  font-size: 0.875em;
  height: 2.3125em;
  line-height: 2.3125em;
}
/* Adjust padding, alignment and radius if pre/post element is a button */
.postfix-rfe.button {
  padding: 0;
  text-align: center;
  line-height: 2.125em;
}

.prefix-rfe.button {
  padding: 0;
  text-align: center;
  line-height: 2.125em;
}

.prefix-rfe.button.radius {
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.postfix-rfe.button.radius {
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.prefix-rfe.button.round {
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-border-radius-bottomleft: 1000px;
  -moz-border-radius-topleft: 1000px;
  -webkit-border-bottom-left-radius: 1000px;
  -webkit-border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
  border-top-left-radius: 1000px;
}

.postfix-rfe.button.round {
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-border-radius-topright: 1000px;
  -moz-border-radius-bottomright: 1000px;
  -webkit-border-top-right-radius: 1000px;
  -webkit-border-bottom-right-radius: 1000px;
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
}
/* Separate prefix-rfe and postfix-rfe styles when on span or label so buttons keep their own */
label.prefix-rfe,
span.prefix-rfe {
  background: #f2f2f2;
  border-color: #d9d9d9;
  border-right: none;
  color: #333333;
}

label.prefix-rfe.radius,
span.prefix-rfe.radius {
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

label.postfix-rfe,
span.postfix-rfe {
  background: #f2f2f2;
  border-color: #cccccc;
  border-left: none;
  color: #333333;
}

label.postfix-rfe.radius,
span.postfix-rfe.radius {
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.alert-box-rfe {
  border-style: solid;
  border-width: 1px;
  display: block;
  font-weight: bold;
  margin-bottom: 1.25em;
  position: relative;
  padding: 0.6875em 1.3125em 0.75em 0.6875em;
  font-size: 0.875em;
  background-color: #2ba6cb;
  border-color: #2284a1;
  color: white;
}

.alert-box-rfe .close {
  font-size: 1.375em;
  padding: 5px 4px 4px;
  line-height: 0;
  position: absolute;
  top: 0.4375em;
  right: 0.3125em;
  color: #333333;
  opacity: 0.3;
}

.alert-box-rfe .close:focus,
.alert-box-rfe .close:hover {
  opacity: 0.5;
}

.alert-box-rfe.radius {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.alert-box-rfe.round {
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
}

.alert-box-rfe.success {
  background-color: #5da423;
  border-color: #457a1a;
  color: white;
}

.alert-box-rfe.alert {
  background-color: #c60f13;
  border-color: #970b0e;
  color: white;
}

.alert-box-rfe.secondary {
  background-color: #e9e9e9;
  border-color: #d0d0d0;
  color: #505050;
}

#ddlFrmType {
  width: 20em;
}

#ddlSecurityType {
  width: 20em;
}

.rfe-lineht {
  line-height: 70%;
}

#rfe-image {
  width: 100%;
  height: 250px;
}

label {
  color: black;
}

p {
  color: black;
}

.indRuleSection {
  color: red;
  text-align: center;
  margin: 1% 0;
}

input[type="text"] {
  width: 100%;
}
/*select{display: block;width: 100%;height: 34px !important;padding: 6px 12px;font-size: 15px;line-height: 1.42857143;color: #555;background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; background-size: inherit;}
/*select{width:auto !important}*/
caption {
  text-align: center;
}

table {
  table-layout: fixed;
  width: 100%;
  border: 1px solid #dddddd;
}

.td-all-border tr > td {
  border: 1px solid lightGray;
}

.td-all-border tr:nth-of-type(even) {
  background-color: white !important;
}

.td-all-border tr:nth-of-type(odd) {
  background-color: #e3eff3 !important;
}

.table-header-custom {
  background-color: #273a56 !important;
  font-size: large !important;
  text-align: center;
  color: white;
  font-weight: bold;
}

ul {
  color: black;
  font-size: 12px;
}

#dataEntryCalRegFeeTable,
#dataEntryCalRegFeeTable td,
.dataEntryFilFootSampleP {
  font-size: 12px;
}

#dataEntryEdgarOfferingnFeesTable,
table.dataEntryEdgaroffSetInfo {
  font-size: 12px;
}

table,
table td,
table td span {
  color: black !important;
  font-size: 12px;
}

div.ui-tooltip {
  max-width: 400px;
}

div.ui-tooltip ul li {
  font-size: small;
}

th.table-headers-output {
  font-size: 18px !important;
  text-align: center;
  color: #273a56;
  background-color: #ebebeb !important;
  line-height: 1.2;
  font-weight: 600;
}

a.btn {
  border: 1px solid #cccccc;
  background: #f6f6f6 url("images/ui-bg_glass_100_f6f6f6_1x400.png") 50% 50% repeat-x;
  font-weight: bold;
  color: #1c94c4;
  margin-left: 1%;
  margin-right: 1%;
}

a.btn:focus,
a.btn:hover {
  border: 1px solid #fbcb09;
  background: #fdf5ce url("images/ui-bg_glass_100_fdf5ce_1x400.png") 50% 50% repeat-x;
  font-weight: bold;
  color: #c77405;
}

#dataEntryTab3 table tr td span,
#dataEntryTab3 table tr th {
  font-size: 12px;
}

body {
  font-family: inherit !important;
}

table thead tr th[scope="col"] {
  font-size: 1em;
}

.focusText {
  font-size: 17px !important;
  font-weight: bold;
  background-color: yellow !important; /*#0543fd;;*/
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.clickableDataField {
  cursor: pointer;
  text-decoration: underline;
}

#feeestimatorform div[class*="colspan"] {
  margin-bottom: 4px !important;
}

table.list thead th {
  width: 15%;
  background: none;
  border: none;
  color: black;
  font-weight: normal;
}

#dataEntryCalRegFeeTable thead th,
.tables-header-blue-color thead th {
  vertical-align: top !important;
}

.tables-header-blue-color thead th:hover {
  background-color: #99CCFF !important;
}

.ui-state:hover .ui-icon,
.ui-widget-header .ui-icon {
  background-image: url("/core/assets/vendor/jquery.ui/themes/base/images/ui-icons_222222_256x240.png");
}

td,
th,
thead,
tr {
  border: none !important;
}
