.main {

  h1 {
    padding-bottom: 0 !important;
  }

  h2, #videoplayer {
    margin-bottom: 1rem !important;
  }

  h2, #videoplayer {
    margin-bottom: 1rem !important;
  }

  ul {
    padding-left: 20px !important;
    margin-left: 0 !important;
    margin-bottom: 2rem !important;
  }

  p {
    line-height: 1.6 !important;
  }

  #limelight_player_694100 {
    width: 480px !important;
    height: 320px !important;
  }
}
