.layout-main-wrapper .book-pager{
	clear: both;
	// width: 100%;
    background: #bf280d;
    @include clearfix;
    margin-top: 20px;
    margin-bottom: 20px;

    a {
		position: relative;
		text-align: center;
		vertical-align: middle;
		margin: 0;
		padding: 20px 4px;
		display: inline-block;
		position: relative;
		@include font-weight-color-size($font_secondary, $font_secondary_weight_semi_bold, $white, 16);
		line-height: 20px;
		text-decoration: none;

		&:hover {
			.book-text {
				text-decoration: underline;
			}
		}

		&.page-previous {
			width: 100%;
			border-bottom: 1px solid $white;
			&:before {
				content: '';
				position: relative;
				display: inline-block;
				left: -18px;
				line-height: 0;
				top: 50%;
				margin-top: -6px;
				margin-right: 5px;
				width: 0;
				height: 0;
				border-top: 6px solid transparent;
				border-bottom: 6px solid transparent;
				border-right: 6px solid;
			}

		}

		&.page-up {
			text-transform: capitalize;
			width: 100%;
			border-bottom: 1px solid $white;

			&:before {
				content: '';
				position: relative;
				display: inline-block;
				line-height: 0;
				margin-bottom: 2px;
				margin-right: 5px;
				width: 0;
				height: 0;
				border-left: 6px solid transparent;
				border-right: 6px solid transparent;
				border-bottom: 6px solid;
			}

			&:hover {
				text-decoration: underline;
			}

		}

		&.page-next {
			width: 100%;
			&:after {
				content: '';
				position: relative;
				display: inline-block;
				top: 50%;
				line-height: 0;
				margin-top: -6px;
				margin-left: 16px;
				width: 0;
				height: 0;
				border-top: 6px solid transparent;
				border-bottom: 6px solid transparent;
				border-left: 6px solid;
			}
			&:only-child{
				float: right;
			}

		}

	}

    @media screen and (min-width: 850px){
      padding: 15px 35px;

      a {
        padding: 0;

        &.page-previous {
          width: 40%;
          text-align: left;
          border-bottom: none;

          &:before {
            position: absolute;
          }
        }

        &.page-up {
          width: 8%;
          margin: 0 5%;
          border-bottom: none;
        }

        &.page-next {
          width: 40%;
          text-align: right;
          &:after {
            position: absolute;
          }
        }
      }
    }

}