//
// GENERAL
// These are general styles that apply site-wide
// It is mainly general typography and HTML element base styles
//
// --------------------------------------------------

*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body {
    font-size: 100%;
    height: 100vh;
}

body {
    @include helvetica;
    background: $white;
    color: $black;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    margin: 0;
    min-width: 320px;
    padding: 0;
    position: relative;
    cursor: default;
}

h1, h2, h3, h4, h5 {
    @include raleway;
}

h1 {
    color: $navy;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.4;
    padding-bottom: 15px;
}

h2 {
    color: $gray-blue;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 0;
    padding-top: 10px;
}

h3 {
    color: $navy;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 0;
    padding-top: 10px;
}

h4 {
    color: $navy;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 0;
    padding-top: 10px;
}

h5 {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 0;
    padding-top: 10px;
}

h6 {
  @include raleway;
  color: $navy;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 0;
  padding-top: 10px;
}

p, div.paragraph {
    color: $black;
    font-family: inherit;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 10px;
    text-rendering: optimizeLegibility;
}

hr {
  margin: 20px 0;
	color: #B3B3B3;
	border: solid #b3b3b3;
	border-width: 1px 0 0;
}

a {
    color: #2F64B2;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

a:visited {
    color: $violet;
}

blockquote {
    clear:both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:85%;
}

button, input{
  @include raleway;
}

button:hover, .button:hover, .buttonSmall:hover {
  background-color: $azure;
}

thead tr td { padding: .66667em .83333em .83333em; }

dl dt { margin-bottom: 0.3em;  }
dl dd { font-size: 13px; margin-bottom: 1em; white-space: normal; line-height:19.5px;}

dl dd.last { margin-bottom: 1em; }

em, i {
    font-style: italic;
}

strong, b {
    font-weight: 600;
}

a:hover { cursor: pointer; }

img, object, embed { max-width: 100%; height: auto; }

object, embed { height: 100%; }

img { -ms-interpolation-mode: bicubic; }

img { display: inline-block; vertical-align: middle; }

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object { max-width: none !important; }


/* fixes contextual edit icon overlapping addthis */
.main-content div.contextual {
  margin-right: 140px;
  margin-top: 10px;
}

// TODO: What is this for? How is this used?
/* BEGIN PREVIEW PAGES */
.node-preview-form-select select {
  max-width: 200px;
}
div.node-preview-container ~ .page-container #content-wrapper > #page-title {
  display:none;
}
/* END PREVIEW PAGES */
