//
// Grid
//
// --------------------------------------------------

// TODO: Need more documentation
// TODO: Review all code in this file, clean it as needed
// There are a bunch of styles in here that may not relate to grid and may just be helper classes

$susy: (
  columns: 12,
  gutters: 1/4,
);

/* * * These styles are used for the article section and full-width pages * * */

@for $i from 1 to 13 {
	.colspan-#{$i} {
    @include span($i);

      @include breakpoint('small') {
        width: 100%;
        margin-right: 0;
      }

    margin-bottom: 15px;
	}
}

@for $i from 1 to 13 {
  .push-#{$i} {
    @include push($i);
  }
}

@for $i from 1 to 13 {
  .pull-#{$i} {
    @include pull($i);
  }
}

@include breakpoint('small') {
  @for $i from 1 to 5 {
    .small-#{$i} {
      @include span($i of 4);
      word-break: normal;
    }
  }
}

/* CSS HELPERS */

.grid-bg {
  background-color: $shadow;
  display: block;
  font-size: 10px;
  padding: 20px 0;
  text-align: center;
}

.last {
	float: right;
	margin-right: 0px !important;
}

.no-display, .hide {
  display: none !important;
}

/*================================================*/
/*           Additional styling :D                */
/*================================================*/
.float-left {
	float: left;
}

.float-right {
	float:right;
}

.no-float {
	float: none;
	width: 100%;
}
/*  Margin Helpers  */
.margin-0 {
  margin: 0;
}
.margin-5 {
  margin: 5px;
}
.margin-10 {
  margin: 10px;
}
.margin-15 {
  margin: 15px;
}
.margin-20 {
  margin: 20px;
}

.margin-top-0 {
  margin-top: 0px;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-15 {
  margin-top: 15px;
}
.margin-top-20 {
  margin-top: 20px;
}

.margin-right-0 {
  margin-right: 0px;
}
.margin-right-5 {
  margin-right: 5px;
}
.margin-right-10 {
  margin-right: 10px;
}
.margin-right-15 {
  margin-right: 15px;
}
.margin-right-20 {
  margin-right: 20px;
}

.margin-bottom-0 {
  margin-bottom: 0;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-left-0 {
  margin-left: 0;
}
.margin-left-5 {
  margin-left: 5px;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-left-15 {
  margin-left: 15px;
}
.margin-left-20 {
  margin-left: 20px;
}
/*  Padding Helpers  */
.padding-0 {
  padding: 0;
}
.padding-5 {
  padding: 5px;
}
.padding-10 {
  padding: 10px;
}
.padding-15 {
  padding: 15px;
}
.padding-20 {
  padding: 20px;
}

.padding-top-0 {
  padding-top: 0;
}
.padding-top-2 {
  padding-top: 2px;
}
.padding-top-5 {
  padding-top: 5px;
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-top-15 {
  padding-top: 15px;
}
.padding-top-20 {
  padding-top: 20px;
}

.padding-right-0 {
  padding-right: 0;
}
.padding-right-5 {
  padding-right: 5px;
}
.padding-right-10 {
  padding-right: 10px;
}
.padding-right-15 {
  padding-right: 15px;
}
.padding-right-20 {
  padding-right: 20px;
}

.padding-bottom-0 {
  padding-bottom: 0;
}
.padding-bottom-5 {
  padding-bottom: 5px;
}
.padding-bottom-10 {
  padding-bottom: 10px;
}
.padding-bottom-15 {
  padding-bottom: 15px;
}
.padding-bottom-20 {
  padding-bottom: 20px;
}

.padding-left-0 {
  padding-left: 0;
}
.padding-left-5 {
  padding-left: 5px;
}
.padding-left-10 {
  padding-left: 10px;
}
.padding-left-15 {
  padding-left: 15px;
}
.padding-left-20 {
  padding-left: 20px;
}

/* Visibility */
.hide-for-large, .hide-for-large-down, .hide-for-medium-up {
  display: none;
}

.hide-for-medium, .hide-for-medium-up, .hide-for-medium-down {
  @include breakpoint('medium') {
    display: none;
  }
}
.hide-for-large {
  @include breakpoint('medium') {
    display: block;
  }
  @include breakpoint('small'){
    display: block;
  }
  @include breakpoint('x-small'){
    display: none;
  }
}
.hide-for-large-down {
  @include breakpoint('medium') {
    display: none;
  }
  @include breakpoint('small'){
    display: none;
  }
  @include breakpoint('x-small'){
    display: none;
  }
}
.hide-for-medium-down {

  @include breakpoint('medium') {
    display: block;
  }
  @include breakpoint('small'){
    display: none;
  }
  @include breakpoint('x-small'){
    display: none;
  }
}
.hide-for-medium {

  @include breakpoint('medium','landscape') {
    display: block;
  }
  @include breakpoint('medium','portrait') {
    display: none;
  }
  @include breakpoint('small'){
    display: none;
  }
  @include breakpoint('z-small'){
    display: none;
  }
}
.hide-for-medium-up {

  @include breakpoint('medium','landscape') {
    display: none;
  }
  @include breakpoint('medium','portrait') {
    display: none;
  }
  @include breakpoint('small'){
    display: block;
  }
  @include breakpoint('x-small'){
    display: block;
  }
}
.hide-for-small {
  @include breakpoint('large'){
    display: block;
  }
  @include breakpoint('medium'){
    display: block;
  }
  @include breakpoint('small') {
    display: none !important;
  }
  @include breakpoint('x-small') {
    display: none !important;
  }
}
.hide-for-small-up {
    display: none !important;
}

.show-for-medium {
  @include breakpoint('medium') {
    display: block;
  }

  @include breakpoint('small') {
    display: none;
  }
  @include breakpoint('x-small'){
    display: none;
  }
}
.show-for-medium-down {
  @include breakpoint('medium') {
    display: block;
  }
  @include breakpoint('small') {
    display: block;
  }
  @include breakpoint('x-small'){
    display: block;
  }
}
.show-for-small {
  display: none;
  @include breakpoint('small') {
    display: block;
  }
  @include breakpoint('x-small'){
    display: block;
  }
}


/*** These are the old grid styles used for content layout ***/
@for $i from 1 to 13 {
  .large-#{$i}{
    @include span($i);

    margin-bottom: 15px;
  }
}

@include breakpoint('medium'){
  @for $i from 1 to 13 {
    .medium-#{$i}{
      @include span($i);

      margin-bottom: 15px;
    }
  }
}


.row {
  display: block;
  &:after {
    clear: both;
    content: ' ';
    height: 1px;
    display: block;
  }
}
