<div id="mobile-search" >
  <form accept-charset="UTF-8" action="//secsearch.sec.gov/search" class="clearfix" id="mobile-search-form" method="get" name="form_iQueryForm" data-drupal-form-fields="global-search-box">
    <fieldset>
      <legend></legend><div class="search-box-container">
      <label class="overlabel" for="global-search-box" style="visibility: visible;">Search SEC.gov</label>
      <input name="utf8" type="hidden" value="?">
      <input class="affiliate" name="affiliate" type="hidden" value="{{ sitehandle }}">
      <input aria-autocomplete="list" aria-haspopup="true" autocomplete="off" class="usagov-search-autocomplete ui-autocomplete-input" id="mobile-search-box" name="query" tabindex="4" title="Search for" type="text">
      <span class="button-label fa fa-search"> </span>
      <input class="global-search-button" tabindex="5" title="Go" type="submit" value=""></div>
    </fieldset>
  </form>
  <p class="options"><a href="http://www.sec.gov/edgar/searchedgar/companysearch.html" tabindex="6">Company Filings</a></p>
</div>