$sectionHSpacing: 10px;
.node--type-landing.node--view-mode-full{
  
  .layout--twocol-section {
    display: flex;
    flex-wrap: wrap;
  }

  
  @media print {
    
    // .layout--twocol-section > .layout__region {
    //   flex: 0 1 100%;
    // }

    .layout--twocol-section.layout--twocol-section--50-50 > .layout__region--first,
    .layout--twocol-section.layout--twocol-section--50-50 > .layout__region--second {
      flex: 0 1 50%;
    }

    .layout--twocol-section.layout--twocol-section--33-67 > .layout__region--first,
    .layout--twocol-section.layout--twocol-section--67-33 > .layout__region--second {
      flex: 0 1 33%;
    }

    .layout--twocol-section.layout--twocol-section--33-67 > .layout__region--second,
    .layout--twocol-section.layout--twocol-section--67-33 > .layout__region--first {
      flex: 0 1 67%;
    }

    .layout--twocol-section.layout--twocol-section--25-75 > .layout__region--first,
    .layout--twocol-section.layout--twocol-section--75-25 > .layout__region--second {
      flex: 0 1 25%;
    }

    .layout--twocol-section.layout--twocol-section--25-75 > .layout__region--second,
    .layout--twocol-section.layout--twocol-section--75-25 > .layout__region--first {
      flex: 0 1 75%;
    }
  }

  @media (min-width: 40em) {
    .layout--twocol-section, .layout--threecol-section, .layout--fourcol-section{
      flex-wrap: nowrap;
    }

    // TODO: Add a section option that is either tight or spaced (use layout_section_classes Module)
    .layout--twocol-section, .layout--threecol-section, .layout--fourcol-section{
      & > .layout__region {
        padding-left: $sectionHSpacing;
        padding-right: $sectionHSpacing;
        &:first-child {
            padding-left: 0;
        }
      
        &:last-child {
            padding-right: 0; 
        }
      }
    }
  }
}

//Fix Content edit form issues
body.node--type-landing{
  .field--type-layout-section{
    //Do not wrap columns in edit mode
    .layout--twocol-section, .layout--threecol-section, .layout--fourcol-section{
      flex-wrap: nowrap;
    }

    //Space around the add Block Button
    .layout-builder__add-block{
      margin: 10px;
      border: 1px solid #e2e2e2;
    }
    .layout-builder__link--add{
      color: #1B6969;
    }

  }

  // Autocomplete fixes
  &.js-off-canvas-dialog-open #drupal-off-canvas .ui-autocomplete{
    border: 1px solid #85bef4;

    li{
      background: #fff;
    }

    li a {
      line-height: 1.6em;
      font-size: 0.9em;
      background: #fff;
      display: block;
    }
  }
}

