.node--type-news .field_date {
  font-weight: 800;
  color: $gray_1b;
  font-size: 13px;
  line-height: normal;
}

.node--type-news .release-number {
  display: block;
  font-weight: 700;
  margin-bottom: 4px;
}

.node--type-news .article-location-publishdate {
  clear: left;
  display: inline;
  float: left;
  font-style: italic;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  padding: 0 5px 0 0;
}


// Investor alerts and bulletins view
.button-header {
  font-size: 20px;
  font-weight: bold;
}
.button-box {
  display: block;
}
#box-01, #box-02, #box-03, #box-04 {
  background: #00325b;
  width: 23.3%;
  p {
    font-family: 'Raleway',sans-serif;
    font-variant-ligatures: no-common-ligatures;
    background-color: #273a56;
    display: block;
    font-size: 12px;
    height: 100px;
    line-height: 1.1;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    &:hover {
      background-color: #2f64b1;
    }
    a {
      text-decoration: none;
      display: block;
      height: 100px;
      color: white;
      margin: 0;
      padding: 0 6px;
      width: 100%;
      .main-description {
        font-size: 14px;
        position: absolute;
        margin: 10px;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
      }
      .division-office {
        position: absolute;
        top: 72px;
        left: 0;
        right: 0;
        margin: 0 10px 10px 10px;
        text-align: center;
        font-size: 12px;
        font-style: italic;
      }
    }
  }
}
